.experian-reports-container {
  background-color: var(--lwc-colorBackground, rgb(243, 243, 243));
}

.experian-reports-header {
  padding: 0.75rem 1rem;
  /* Removed border-bottom */
}

.slds-card__body {
  margin-top: var(--lwc-varSpacingVerticalMedium, 1rem);
}
.slds-text-align_center {
  color: var(--lwc-colorTextWeak, rgb(107, 109, 112));
}

.slds-button-icon_container {
  color: #706e6b;
}

.slds-button-icon_container:hover:not(:disabled) {
  color: #1b96ff;
}

/* Ensure the header title has the correct styling */
.slds-card__header-title {
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 700;
}

/* Add some space between the header and the table */
.experian-reports-body .slds-datatable {
  margin-top: 0.75rem;
}
